<div class="col-xs-9 bar">
    <%- businessNom %> <span class="type"><%= businessType %></span><br>
    <span class="adress"><%= businessDistance %> - <%- businessAdress %></span>
</div>
<div class="col-xs-3 prix">
    <span class="prixHappyHour">€ <%= prixHappyHour %></span><br>
    <span class="prixNow">€ <%= prixNow %></span>
</div>
