<div class="beer">
	<%= name %><br />
	<span class="prices">
		<% _.each(prix, function (oneprice) { %>
			<span class="volume"><%= oneprice.volume %> cl</span>
			<span class="price"><%= oneprice.prixNormal %> €</span>
		<% }); %>
	</span>
</div>
