<div class="col-xs-9 bar">
    <span class="nom"><%- nom %></span> <span class="type"><%= type %></span><br>
    <span class="adress"><%= distance %> - <%- adress %></span>
</div>
<div class="col-xs-3 prix">
    <span class="prixHappyHour">€ <%= prixHappyHour %></span><br>
    <span class="prixNow">€ <%= prixNow %></span>
</div>
