<div class="businessList">
	<div class="container">
		<div class="infosPrix row">
			<div class="col-xs-10 titre">
				Prix de la pinte en Happy Hour<br>
				En ce moment
			</div>
			<div class="col-xs-2 prix">
				<span class="prixHappyHour">€ 4</span><br>
				<span class="prixNow">€ 8</span>
			</div>
		</div>
		<div id="businessesContainer">

		</div>
</div>