<div class="fullBusiness" id="<%= this.model.attributes.id %>">
	<div class="leftBack"></div>
	<h1><%- this.model.attributes.nom %></h1>
	<h2><%= this.model.attributes.typeArray[this.model.attributes.type] %></h2>

	<div class="container">
		<div class="row">
			<div class="horaires col-xs-12">
				<div class="today pull-left">
					<% var day = new Date().getDay(); 
						var horaires = this.model.attributes.horaires;
					if (typeof horaires[day] != 'undefined') {
						if (horaires[day].normal.ouvert) {
							%>
							Ouvert de <%= horaires[day].normal.ouverture.getHours() %>:<% var minutes = horaires[day].normal.ouverture.getMinutes();
							if (minutes < 10) { %>0<%= minutes %>
							<% } else { %><%= minutes %>
							<% } %>
							à <%= horaires[day].normal.fermeture.getHours() %>:<% var minutes = horaires[day].normal.fermeture.getMinutes();
							if (minutes < 10) { %>0<%= minutes %>
							<% } else { %><%= minutes %>
							<% } 
						} else { %>
							Fermé
						<% } 
					} else { %>
						Inconnu
					<% } %>
				</div>
				<div class="more pull-right">
					Horaires <span class="caret"></span>
					<div class="moreHoraires">
						<div class="row typeHoraires">
							<span class="pull-left ouverture">
								Ouverture
							</span>
							<span class="pull-right happyHour">
								Happy-hour
							</span>
						</div>
						<div class="horairesDays">
							<div class="row jour">
								<div class="col-xs-6">
									lundi
								</div>
								<div class="col-xs-6">
									08:00 - 15:00<br />
									18:00 - 19:00
								</div>
							</div>
							<div class="row jour">
								<div class="col-xs-6">
									mardi
								</div>
								<div class="col-xs-6">
									08:00 - 23:00
								</div>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>

		<div class="row">
			<div class="location col-xs-12">
				<div class="adresse pull-left">
					<%- this.model.attributes.adresse %><br>
					<%= this.model.attributes.codePostal %> <%- this.model.attributes.ville %>
				</div>
				<div class="whereIsIt pull-right">
					<button type="button" class="btn btn-default" id="btnFullBusiness">C'est où ?</button>
				</div>
			</div>
		</div>

		<div class="beers">
			<% 
				var pressions = _.where(this.model.attributes.beers, {pression: true});
				var others = _.where(this.model.attributes.beers, {pression: false});
			%>
			<div class="type">
				<div class="pull-left type">
					<span id="link_pressions">Pressions (<%= pressions.length %>)</span>
				</div>
				<div class="pull-right type">
					<a href="#"><span id="link_others">Canettes et bouteilles (<%= others.length %>)</span></a>
				</div>
			</div>
			<div id="beers_container">
			</div>

		</div>
	</div>
</div>