<div class="fullBusiness">
	<div class="leftBack"></div>
	<h1><%- nom %></h1>
	<h2><%= typeArray[type] %></h2>

	<div class="container">
		<div class="row">
			<div class="horaires col-xs-12">
				<div class="today pull-left">
					<% var day = new Date().getDay(); 
					if (typeof horaires[day] != 'undefined') {
						if (horaires[day].normal.ouvert) {
							%>
							Ouvert de <%= horaires[day].normal.ouverture.getHours() %>:<% var minutes = horaires[day].normal.ouverture.getMinutes();
							if (minutes < 10) { %>0<%= minutes %>
							<% } else { %><%= minutes %>
							<% } %>
							à <%= horaires[day].normal.fermeture.getHours() %>:<% var minutes = horaires[day].normal.fermeture.getMinutes();
							if (minutes < 10) { %>0<%= minutes %>
							<% } else { %><%= minutes %>
							<% } 
						} else { %>
							Fermé
						<% } 
					} else { %>
						Inconnu
					<% } %>
				</div>
				<div class="more pull-right">
					Horaires
				</div>
			</div>
		</div>

		<div class="row">
			<div class="location col-xs-12">
				<div class="adresse pull-left">
					<%- adresse %><br>
					<%= codePostal %> <%- ville %>
				</div>
				<div class="whereIsIt pull-right">
					<button type="button" class="btn btn-default" id="btnFullBusiness">C'est où ?</button>
				</div>
			</div>
		</div>

		<div class="beers">
			<% 
				var pressions = _.where(beers, {pression: true});
				var others = _.where(beers, {pression: false});
			%>
			<div class="type">
				<div class="pull-left">
					Pressions (<%= pressions.length %>)
				</div>
				<div class="pull-right">
					Canettes et bouteilles (<%= others.length %>)
				</div>
			</div>
			<div class="pressions">

			</div>
		</div>
	</div>
</div>