<div id="home" class="unfocus">
	<h1><a href="#">Beer to Beer</a></h1>
	<h2>Trouver une bière</h2>

	<label for="search" id="labelSearch" style="display: none;">Où ça ?</label>
	{% include 'BeerToBeerCoreBundle:Forms:search.html.twig' %}
	<div id="gpsContainer" style="display: none;">
		<a href="#" id="gpsLink" class="text-center pac-item">
			<span class="text-center pac-item-query">
				Chercher autour de moi
			</span>
		</a>
	</div>
</div>