{% extends "::base.html.twig" %}

{% block body %}
<div id="general">
	{% include 'BeerToBeerCoreBundle:BackboneTemplates:General/home.html.twig' %}
</div>
{% include 'BeerToBeerCoreBundle:BackboneTemplates:general.html.twig' %}
{% endblock %}
