{% extends "::base.html.twig" %}

{% block body %}
<div id="general">
	<div id="home">
		<h1>Beer to Beer</h1>
		<h2>Partageons nos plans bière.</h2>

		{% include 'BeerToBeerCoreBundle:Forms:search.html.twig' %}
	</div>
</div>
{% include 'BeerToBeerCoreBundle:BackboneTemplates:general.html.twig' %}
{% endblock %}
