<div class="addBeer formBeer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<label for="beerNameInput">Choisir la bière à ajouter</label>
				<input type="text" placeholder="Nom de la bière" class="form-control" id="beerNameInput">
			</div>
		</div>

		<form id="formAddBeers">
			Prix en euros
			<div class="row typeTarif">
				<div class="col-xs-offset-3 col-xs-3">
					Tarif normal
				</div>
				<div class="col-xs-3">
					Happy-Hour
				</div>
			</div>
			<div class="BeerBusinesses_container">
				<% var oneBeerTemplate = _.template($("#oneBeerBusinessForm").html()); %>
				<%= oneBeerTemplate({
					id: -1
				}) %>
			</div>
			<a href="#" id="addVolumeAddBeer">+ Ajouter un volume</a>
		</form>
	</div>
	<div class="buttons">
		<button class="btn btn-default submit" id="submitBeers">Ajouter la bière</button>
		<a href="#" id="cancelBeers" class="cancel">Annuler</a>
	</div> 
</div>