<div class="editBeer formBeer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3><%= name %></h3>
			</div>
		</div>

		<span id="changeType">Change type</span>

		<form id="formBeers">
			Prix en euros
			<div class="row typeTarif">
				<div class="col-xs-offset-3 col-xs-3">
					Tarif normal
				</div>
				<div class="col-xs-3">
					Happy-Hour
				</div>
			</div>
			<div id="BeerBusinesses_container">
				<% var oneBeerTemplate = _.template($("#oneBeerBusinessForm").html()); %>
				<div class="pressions">
					<% _.each(prix, function(price) { 
						if (price.pression)
							print(oneBeerTemplate(price));
					}); %>
				</div>
				<div class="others" style="display: none;">
					<% _.each(prix, function(price) { 
						if (!price.pression)
							print(oneBeerTemplate(price));
					}); %>
				</div>
			</div>
			<a href="#" id="addVolumeBeer">+ Ajouter un volume</a>
		</form>
	</div>
	<div class="buttons">
		<button class="btn btn-default delete" id="deleteBeers">Supprimer cette bière</button>
		<button class="btn btn-default submit" id="submitBeers">Modifications terminées</button>
		<a href="#" id="cancelBeers" class="cancel">Annuler</a>
	</div> 
</div>