<div class="editBeer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Lagunitas IPA</h3>
			</div>
		</div>

		<form id="formEditBeers">
			Prix en euros
			<div class="row typeTarif">
				<div class="col-xs-offset-3 col-xs-3">
					Tarif normal
				</div>
				<div class="col-xs-3">
					Happy-Hour
				</div>
			</div>
			<% var oneBeerTemplate = _.template($("#oneBeerBusinessForm").html()); 
			_.each(prix, function(price) { %>
				<%= oneBeerTemplate(price) %>
			<% }); %>
			<a href="#" id="addVolume">+ Ajouter un volume</a>
		</form>
	</div>
	<div class="buttons">
		<button class="btn btn-default delete">Supprimer cette bière</button>
		<button class="btn btn-default submit" id="submitEditBeers">Modifications terminées</button>
		<a href="#" id="cancelEditBeers" class="cancel">Annuler</a>
	</div> 
</div>