<div class="editBeer formBeer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3><%= name %></h3>
			</div>
		</div>

		<form id="formBeers">
			Prix en euros
			<div class="row typeTarif">
				<div class="col-xs-offset-3 col-xs-3">
					Tarif normal
				</div>
				<div class="col-xs-3">
					Happy-Hour
				</div>
			</div>
			<div class="BeerBusinesses_container">
				<% var oneBeerTemplate = _.template($("#oneBeerBusinessForm").html()); 
				_.each(prix, function(price) { %>
					<%= oneBeerTemplate(price) %>
				<% }); %>
			</div>
			<a href="#" id="addVolumeBeer">+ Ajouter un volume</a>
		</form>
	</div>
	<div class="buttons">
		<button class="btn btn-default delete" id="deleteBeers">Supprimer cette bière</button>
		<button class="btn btn-default submit" id="submitBeers">Modifications terminées</button>
		<a href="#" id="cancelBeers" class="cancel">Annuler</a>
	</div> 
</div>