<div class="editBeer">
	<div class="container">
		<div class="row">
			<div class="col-xs-12">
				<h3>Lagunitas IPA</h3>
			</div>
		</div>

		<form>
			Prix en euros
			<div class="row typeTarif">
				<div class="col-xs-offset-3 col-xs-3">
					Tarif normal
				</div>
				<div class="col-xs-3">
					Happy-Hour
				</div>
			</div>
			<% var oneBeerTemplate = _.template($("#oneBeerBusinessForm").html()); %>
			<%= oneBeerTemplate({
				id: 1,
				volume: 25
			}) %>
			<%= oneBeerTemplate({
				id: 2,
				volume: 33,
				prixNormal: 6
			}) %>
			<a href="#" id="addVolume">+ Ajouter un volume</a>

			
		</form>
	</div>
	<div class="buttons">
		<button class="btn btn-default delete">Supprimer cette bière</button>
		<button class="btn btn-default">Modifications terminées</button>
	</div> 
</div>