<div class="proposeBusiness">
	<h1>Beer To Beer</h1>
	<form class="container">
		<div class="row">
			<label for="businessDetails" class="col-xs-12">
				Donnez le nom et si possible l'adresse de l'établissement à ajouter (arrondissement/ville). Plus il y a de détails, mieux c'est.
			</label>
		</div>
		<div class="row">
			<textarea class="businessDetails form-control" id="businessDetails"></textarea>
		</div>
		<div class="row">
			<label for="userEmail" class="col-xs-12 userEmail">
				Ajoutez votre adresse e-mail afin d'être prévenu de l'ajout de l'établissement<br>
				<div>Votre adresse e-mail restera strictement confidentielle et nous ne la céderons jamais à un tiers</div>
			</label>
		</div>
		<div class="row">
			<input type="text" class="form-control" id="userEmail">
		</div>
		<div class="row align-center">
			<button type="submit" class="btn btn-default submit" id="submitPropose">Envoyer</button>
			<a href="#" id="cancelPropose" class="cancel">Annuler</a>
		</div>
	</form>
</div>
