@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: local('Montserrat-Regular'), url('../fonts/montserrat.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: local('Montserrat-Bold'), url('../fonts/montserratBold.woff') format('woff');
}

body {
	font-family: 'Montserrat';
}

/* DESIGN MOBILE */
@media (max-width: 767px) {
	.home {
	    position: absolute;
	    top: 20%;
	    width: 100%;
	}
	h1 {
		color: #f96727;
		text-align: center;
		font-size: 27px;
		font-family: 'Montserrat';
		font-weight: bold;
		margin-bottom: 5px;
	}
	h2 {
		color: #f96727;
		text-align: center;
		font-size: 18px;
		margin-top: 0;
	}
	.home form {
		margin: 0 12px;
		text-align: center;
	}
	.home form label {
		font-weight: normal;
		font-size: 13px;
		margin-top: 25px;
	}
	.home form input {
		border-radius: 0;
		padding: 6px 30px;
	}
	.home form button {
		padding: 8px 10px;
		margin:0;
		border:0; /* Remove default button styles */
		background-color:transparent;
	}
	.home .location {
		float: right;
		margin-right: 6px;
		margin-top: 4px;
	}
	/* enable absolute positioning */
	.inner-icon { 
	    position: relative; 
	}

	/* style icon */
	.inner-icon button {
	  position: absolute;
	  padding: 10px;
	  pointer-events: none;
	}

	/* align icon */
	.left-icon button  { left:  0px;}
	.right-icon button { right: 0px;}

	}