<form action="#" method="get" id="searchForm">
	<label for="search" id="labelSearch">Cherchez une adresse, un métro à Paris</label>
	<div class="searchDiv">
		<!--<button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span></button>-->
		<a href="#gps" class="location" id="location"><img src="{{ asset('bundles/beertobeercore/images/location.png') }}" alt="Localisation" title="Localisez-vous !" /></a>
		<input type="search" id="searchInput" class="form-control" />
	</div>
</form>